{%extends "Main.html" %}

{% block Cash%}

      {% if session["username"] != None%}
        <P align=right style="font-size: 30px">cash: {{session["cash"]}} </P>
        <P align=right style="font-size: 30px">items: {{session["items"]}}</P>
      {% else %}
        <P align=right style="font-size: 30px">cash: 0 </P>
        <P align=right style="font-size: 30px">items: 0</P>
      {% endif %}

{% endblock %}

{% block mainContent%}
    <form  method="post">

  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Enter User Name</label>
    <input name="username" style="width: 40%" type="text" class="form-control"  aria-describedby="emailHelp">
    <div  class="form-text">We'll never share your email with anyone else.</div>
  </div>
  <div class="mb-3">
    <label  for="exampleInputPassword1" class="form-label">Password</label>
    <input name="password" style="width: 40%" type="password" class="form-control" id="exampleInputPassword1">
  </div>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">How much money do you want to spend here?</label>
    <input name="cash" style="width: 40%" type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
  </div>
  <button  type="submit" class="btn btn-primary">Log in</button>
</form>
{% endblock %}